.admin-login {
    margin-top: 50px;
  }
  
  .h22 {
    margin-bottom: 20px;
  }
  
  .frm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .bbtn {
    margin-top: 20px;
  }
  