.review-text{
    font-size: 3.5vw;
    font-weight: 600;
}
.review-card{
    height: 300px;
    background-color: rgba(148, 147, 147, 0.2);
    border-radius: 10%;
}
.review-card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(140, 12, 12, 0.565);
}


.review-row{
    /* column-gap: 30px; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    gap: 20px;
}
@media (max-width: 768px) {
    .review-row {
      /* Modify styles for mobile screens */
      flex-direction: column; /* Stacking columns vertically */
    }
  
    .review-card {
      /* Modify styles for mobile screens */
      margin-bottom: 20px; /* Add spacing between cards */
    }
  }
  
  
  
  
  
  